@using LiGrow.Blazor.MenuDigital.Web.Models

<div class="lista-categorias">
   @if (_listaCategorias != null && _listaCategorias.Count > 0)
   {
      foreach (var categoria in _listaCategorias)
      {
         List<ProductItem> produtos = new List<ProductItem>();
         if (_listaMenus != null)
         {
            produtos = _listaMenus.FindAll(x => x.category_id == categoria.id);
         }

         <div class="categoria" id="categoria_@categoria.id">
            <h2 class="titulo">@categoria.name</h2>
            @if (!string.IsNullOrEmpty(categoria.description))
            {
               <p class="descritivo text-muted">@categoria.description</p>
            }

            @if (produtos != null && produtos.Count > 0)
            {
               <div class="lista-menu">
                  @foreach (var produto in produtos)
                  {
                     <div class="lista-menu-item">
                        <a href="@produto.slug">
                           <img src="@produto.image" alt="@produto.name" />
                        </a>
                        <a href="@produto.slug">
                           <div class="informacoes">
                              <h5 class="titulo">@produto.name</h5>
                              <p class="descritivo">@produto.description</p>
                              <span class="preco text-muted">@produto.price€</span>
                           </div>
                        </a>
                     </div>
                  }
               </div>
            }
         </div>
      }
   }

   @* <div class="categoria" id="categoriaEspeciais">
   <h2 class="titulo">Especiais</h2>
   <p class="descritivo text-muted">Para gostos mais requintados</p>
   <div class="lista-menu">
   <div class="lista-menu-item">
   <a href="/produto/cabrito-assado">
   <img src="https://placehold.co/150x150/000000/FFFFFF?text=Foto+de+cabrito" alt="Foto de cabrito" />
   </a>
   <a href="/produto/cabrito-assado">
   <div class="informacoes">
   <h5 class="titulo">Cabrito assado</h5>
   <p class="descritivo">Arroz de Miúdos, Batata Assada e Grelos</p>
   <span class="preco text-muted">26.00€</span>
   </div>
   </a>
   </div>
   </div>
   </div> *@
</div>

@code {

}
